* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

:root {
  --text-color: #cfcfcf;

  --background-color: #222222;
  --secondary-background-color: #212121;
  --profile-background-color: #18222a;

  --main-navbar-color: #171717;

  --highlight-color: grey;
}

body {
  background-color: var(--background-color);
}

p {
  color: var(--text-color);
  font-size: clamp(1.1rem, 2.6vw, 1.8rem);
}
