@import "tailwindcss";
/* overrides user preference, allows toggling between dark and white mode */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Cosmic Dark Matter Tides and Currents */
  --color-darkblue: #1E1E2F;
  --color-lightgray: #6D6E8B;
  --color-darkorange: #A04E2F;
  --color-darkgrey: #2D2D30;
  --color-white: #F5F5F5;
}

@layer components {
  button {
    @apply cursor-pointer;
  }

  button:disabled {
    @apply cursor-not-allowed;
  }
}

/* Tailwind colors 
 * stone
 * zinc
 */

/* old color scheme */
/* #cfcfcf; */
/* #222222; */
/* #212121; */
/* #141414; */
/* #171717; */
